:host {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-content: stretch;
}

.mat-card-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-content: stretch;
}
tr.downstream td {
  color: #B22222;
}

tr.onStream td {
  color: #00CED1;
}

td.number {
  text-align: right;
}

#riverTabContent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
