<mat-tab-group #tabs>
  <mat-tab #tabHelp>
    <ng-template mat-tab-label>Help <mat-icon>help</mat-icon></ng-template>
    <mat-card>
      <mat-card-title>Upstream/Downstream</mat-card-title>
      <mat-card-content>
        <p>Using the map hover over a stream.</p>
        <p>The stream will be highlighted in blue. Upstream streams will be highlighted in green
        and downstream in red.</p>
        <p>As you zoom in more detailed streams will become visible.</p>
        <p>Clicking a stream will display the stream information in the side panel and change the
        selected streams to be shown using thicker lines.</p>
        <p><b>NOTE:</b> double clicking to zoom will clear the selected stream, mouse wheel zooming
        will retain the selected stream.</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Search</mat-card-title>
      <mat-card-content>
        <ol>
          <li>Click the search tab.</li>
          <li>Enter the search term to show the list of matches.</li>
          <li>Select the match from the list</li>
          <li>Click the <mat-icon>search</mat-icon> icon in the search field to zoom the map to the items location</li>
        </ol>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab #tabHelp>
    <ng-template mat-tab-label>Search <mat-icon>search</mat-icon></ng-template>
    <mat-card class="fields">
      <mat-card-content>
        <app-geographic-name-search></app-geographic-name-search>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab [disabled]="!river" #tabRiver>
    <ng-template mat-tab-label>Stream</ng-template>
    
    <div *ngIf="river">
    <mat-card class="fields">
      <mat-card-content>
					<mat-form-field floatLabel="always">
	          <mat-label>ID</mat-label>
					  <input matInput value="{{river.properties.LINEAR_FEATURE_ID}}" readonly />
					</mat-form-field>
					<mat-form-field floatLabel="always">
	          <mat-label>Name</mat-label>
					  <input matInput value="{{river.properties.GNIS_NAME}}" readonly />
					</mat-form-field>
					<mat-form-field floatLabel="always">
	          <mat-label>Watershed Code</mat-label>
					  <input matInput value="{{river.properties.codeRange.code}}" readonly />
					</mat-form-field>
	<!-- 				<mat-form-field floatLabel="always">
	          <mat-label>Local Code</mat-label>
					  <input matInput value="{{river.properties.codeRange.toStringLocal()}}" readonly />
					</mat-form-field>
	 -->
	 				<mat-form-field floatLabel="always" *ngIf="river.properties.LENGTH_METRE">
	          <mat-label>Segment length</mat-label>
					  <input matInput value="{{km(river.properties.LENGTH_METRE)}}" readonly />
					</mat-form-field>
					<mat-form-field floatLabel="always" *ngIf="river.properties.UPSTREAM_LENGTH">
	          <mat-label>Upstream Length</mat-label>
					  <input matInput value="{{km(river.properties.UPSTREAM_LENGTH)}}" readonly />
					</mat-form-field>
					<mat-form-field floatLabel="always" *ngIf="river.properties.DOWNSTREAM_LENGTH">
	          <mat-label>Downstream Length</mat-label>
					  <input matInput value="{{km(river.properties.DOWNSTREAM_LENGTH)}}" readonly />
					</mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
