.legend-stream {stroke:RoyalBlue;stroke-width:1}
.legend-selected-stream {stroke:DarkTurquoise;stroke-width:5}
.legend-selected-stream-upstream {stroke:LimeGreen;stroke-width:5}
.legend-selected-stream-downstream {stroke:FireBrick;stroke-width:5}
.legend-higlighted-stream {stroke:Aqua;stroke-width:3}
.legend-higlighted-stream-upstream {stroke:Lime;stroke-width:3}
.legend-higlighted-stream-downstream {stroke:Red;stroke-width:3}
